<!-- <app-navigation-bar></app-navigation-bar> -->
<h4>Testing mat slider</h4>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

<p>customer works!</p>
{{customerDetails}}
<br>    
{{customerName}}

<h2>Event Binding</h2>
<button (click)="showData()">CLICK EVENT</button>
<br>
<h2>This is an example of property binding</h2>
<input type="text" [value]="customerName">

<p [style.color]=color>This is a paragraph example for class binding </p>

<input type="text" [(ngModel)]="username">

<p>Two way databinding {{username}}</p>

<table>
    <tr><th>CustomerId</th><th>custName</th><th>custAge</th></tr>
    <tr><td>1</td><td>devi</td><td>suresh</td></tr>
    <tr><td>2</td><td>tim</td><td>john</td></tr>
    <tr><td>3</td><td>jim</td><td>jake</td></tr>
</table>

<p>Testing bootstrap nav</p>
<!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>First</a>
      <ng-template ngbNavContent>First content</ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Second</a>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div> -->

<app-customer-list [customerListFromParent]="customerList"></app-customer-list> 
<app-customer-list [customerExampleList]="customerObject"></app-customer-list>


<app-customer-list [count]="counter" (countChanged)="countChangeHandler($event)"></app-customer-list>

<app-customer-list [word]="word" (wordInitialized)="stringHandler($event)"></app-customer-list>